<% if current_user %>
<h1>Welcome to user role <%= current_user.roles_name%>  <%= current_user.email%></h1> 
<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% if can? :create, Employee %>
  <%= link_to 'New Employee', new_employee_path ,class: 'btn btn-lg btn-primary'%>
<% end %>
<%= link_to 'employees list',employees_path%>
<% else %>
<h2>signup or signin before continue</h2>
<%= link_to "Sign In", new_user_session_path %>
<%= link_to  "Sign Up", new_user_registration_path %>
<% end %>
